# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
ENV/
*.egg-info/
.eggs/
dist/
build/
*.egg

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
*.cover
*.py,cover
.hypothesis/

# MyPy cache
.mypy_cache/

# Pyre type checker
.pyre/

# Caches
*.log
*.pot
*.pyc

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# pyenv
.python-version

# virtualenv
.venv
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# IDEs
.idea/
.vscode/
*.sublime-workspace
*.sublime-project

# PyCharm
*.iml
*.iws
.idea/

# Django stuff:
*.log
local_settings.py

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# Pytest
.cache

# Other
*.sqlite3
.DS_Store
Thumbs.db
